<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=username %></h1>
    <h1>Administrative actions</h1>
    <a href="newSport">Create a new sport</a>
    <a href="reports">View reports</a>

    <h1>All sports:</h1>
    <% for(let i=0;i<allsports.length;i++){ %>
        <h1><a href="/sport/<%= allsports[i].id %>"><%= allsports[i].name %> </a></h1>
    <% } %>
</body>
</html>