<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%=csrfToken %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css">
    <title>Document</title>
</head>
<body>
    <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
        <div class="py-3">
            <h1 class="text-2xl font-bold text-gray-800">Welcome <%=username %> </h1>
        </div>
        <div class="py-3">
            <p>The following sports are available.Please select one.</p>
        </div>
        <div class="py-3">
            <h1 class="text-2xl font-bold text-gray-800">All sessions</h1>
            <% for(let i=0;i<allsports.length;i++){ %>
                <h1><a class="text-blue-600" href="/sport/<%= allsports[i].id %>"><%= allsports[i].name %> </a></h1>
            <% } %>
        </div>
    
    <div class="py-2">
        <p>
            If you want to move out from this dashboard.Click signout!
        </p>
        <a class="px-2 text-green-600 underline hover:underline-offset-4 " href="/signout">signout</a>
    </div>
    </div>
    </div>
</body>
</html>